:root {
  --color-co-primary: rgb(0, 0, 65);
  --color-co-yellow: rgb(237, 181, 18);
}

body {
  background-color: #F0F0F0;
  padding: 0;
  margin: 0;
  font-family: 'Mina', sans-serif;  
}

.smallbox {
  width: 90px;
}

input, select, textarea, button {
  font-family: inherit;
  font-size: 1em;
}

.horizontalBox {
  display: inline-block;
  text-align: left;
  margin-right: 0.5em;
  }

button {
  font-family: 'Mina', sans-serif;
  font-size: 1em;
  margin: 0.5em 0;
  padding: 0.1em 0.2em;
  display: block;
}

header {
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 20px;
  background-color: white;
  color: var(--color-co-primary);
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
  height: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

table {
  border: 2px solid black;
  background: white;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
}

td {
  border: 1px solid black;
}

td:first-child {
  font-weight: bold;
}

th {
  border: 1px solid black;
}

table tr:hover{
  background-color: var(--color-co-yellow);;
}

input {
  font-family: 'Mina', sans-serif;
  display: block;
  padding: 5px;
  width: 90%;
  margin-bottom: 1em;
}

.ui-icon {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.left {
  float: left;
}
.right {
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.txt-rotate>.wrap {
  border-right: 0.08em solid #666
}

.container {
  color: var(--color-co-primary);
  width: 60%;
  min-width: 250px;
  margin: 0 auto;
  margin-top: 2em;
}

.container2 {
    margin: 0 auto;
    margin-top: 2em;
    min-width: 350px;
    height: 14px;
    text-align: center;
}


.circle {
  width: 10px;
  height: 10px;
  border-radius: 14px;
  border: 2px solid var(--color-co-primary);
  margin: 10px;
  animation: rotate 2s infinite linear;
  animation-fill-mode: both; 
  display: inline-block;
}

.circle:nth-of-type(2) {
    animation: rotate2 2s infinite linear;
  animation-fill-mode: both; 
}

.circle:nth-of-type(3) {
    animation: rotate3 2s infinite linear;
  animation-fill-mode: both; 
}

@keyframes rotate {
  0% { 
    transform: scale(0);
    opacity: 0;
  }
  25% { 
    transform: scale(1);
    opacity: 1;
  }
  75% { 
    transform: scale(1);
    opacity: 1;
  }
  85% { 
    transform: scale(1);
    opacity: 1;
  }
  100% { 
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes rotate2 {
  0% { 
    transform: scale(0);
    opacity: 0;
  }
  25% { 
    transform: scale(0);
    opacity: 0;
  }
  50% { 
    transform: scale(1);
    opacity: 1;
  }
  75% { 
    transform: scale(1);
    opacity: 1;
  }
  85% { 
    transform: scale(1);
    opacity: 1;
  } 
  100% { 
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes rotate3 {
  0% { 
    transform: scale(0);
    opacity: 0;
  }
  50% { 
    transform: scale(0);
    opacity: 0;
  }
  75% { 
    transform: scale(1);
    opacity: 1;
  }
  85% { 
    transform: scale(1);
    opacity: 1;
  }
  100% { 
    transform: scale(1);
    opacity: 0;
  }
}