



#custom-handle {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#custom-handle2 {
    width: 3em;
    height: 1.6em;
    top: 50%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
}

#slider {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-bottom: 1em;
}

#slider2 {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin-bottom: 1em;
}

